/* GENERAL */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button:focus,
textarea:focus {
  outline: none;
}

.full-height {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


/* APP CONTAINER */
div#app {
  color:#555;
  display: flex;
}

/* SUMMARY */
aside#summary {
  color: #5078F2;
  padding-top: 15px;
  width: 5%;
  text-align: center;
  background: #eee;

  div#progress {
    margin-top: 37px;
  }

  i.fas {
    font-size: 1.5em;
  }

  i.logo {
    font-size: 2em;
    color: #dd4b39;
    border-bottom: 1px solid #ccc;
    padding: 24.75px 0;
    width: 100%;
  }

  ul#steps li {
    padding: 20px 0;
    align-items: center;
  }
}

aside#summary h4 {
  color: #71b1df;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
  line-height: 2.93em;
}

aside#summary i {
  margin-right: 5px;
}

aside#summary ul li {
  margin: 10px 0;
}

hr {
  margin: 0 0 16px 0;
}

/* Whiteboard */
main#whiteboard {
  // background:#2c2f33;
  width: 72%;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
  border-left: 1px solid #ccc;

  div#trip-header {
    display: flex;
    color: #5078F2;
    background: #fff;
    justify-content: space-between;
    position: absolute;
    width: calc(72% - 1px);
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  h1, h4 {
    margin: 0;
    text-align: left;
  }
}

div#plan-status {
  padding: 16px 0;
}

div#suggestion-container {
  padding: 100px 20px 0;
}

div#ready-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    padding: 0;
    margin: 0 auto;
  }
}

/* CHAT */
aside#chat {
  width: 23%;
  border-left: 1px solid #ccc;
  background: #eee;
}

footer#chatbar {
  width: 23%;
  display: flex;
  position: absolute;
  bottom: 0;
}

footer#chatbar textarea {
  height: 2.5em;
  font-size: 1.25em;
  width: 100%;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
}

footer#chatbar button {
  border-radius: 10px;
  font-size: .5em;
}

footer#chatbar button i {
  font-size: 2.5em;
}

section#message-list {
  position: absolute;
  bottom: 50px;
  padding: 0 20px;
}

section#users {
  position: absolute;
  width: 23%;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

div#users-icons {
  display: flex;
  justify-content: space-around;
  padding: 21.5px;
}

img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background: #71b1df;
}
