main#selection-container {
  display: flex;
  height: 100vh; 
  margin: 0;
  width: 100%;
}

aside#selection-create, 
section#selection-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  padding: 120px;
}

main#selection-container button,
main#selection-container input {
  color: #fff;
  background: #bca482de; 
  font-weight: 300;
  border-radius: 32px;
  width: 100%;
  font-size: 2em;
  outline: none;
  margin-bottom: 32px;
  padding: 16px 16px 16px 32px;
  border: 1px solid #fff;
}

main#selection-container input {
  color: black;
  background: rgba(245, 245, 245, 0.776);
  border: 1px solid #bca482b8;
}

div#date-selection {
  display: flex;
  justify-content: space-between;
  font-size: .70em;

  input[type="date"] {
    width: 45%;
  }

}